sudo: required
language: generic

services:
  - docker

before_install:
  - docker build -t leonardobalduino/docker-react -f Dockerfile.dev .

script:
  - docker run -e CI=true leonardobalduino/docker-react npm test

before_deploy: "echo 'starting deploy'"
deploy:
  provider: elasticbeanstalk
  access_key_id: $AWS_ACCESS_KEY
  secret_access_key: "$AWS_SECRET_KEY"
  region: 'us-east-2'
  app: 'docker'
  env: 'docker-env'
  bucket_name: 'elasticbeanstalk-us-east-2-900445676148'
  bucket_path: 'docker'
  on:
    branch: master
after_deploy: "echo 'finishing deploy'"    