sudo: required
services:
  - docker

before_install:
  - docker build -t leonardobalduino/docker-react -f Dockerfile.dev .

script:
  - docker run -e CI=true leonardobalduino/docker-react npm run test